<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CKEditor" version="3.6.4" targetFramework="net40" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net40" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net40" />
  <package id="Menulab.RichTextBox" version="1.1.0" targetFramework="net40" />
</packages>